{% extends "base.html" %}
{% block head %}

<style>
    dr{
        color:white;
    }
    section{
        margin: auto;
    }
    .s-blog{
        padding-top:0 !important;
    }
    article.col-block>img{
        width: 410px;
        height: 308px;
    }
</style>
{{ super() }}
{% endblock head %}

<body>
    {% block content %}
    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html"><img src="{{STATIC_FOLDER}}/images/logo.png" width="160" height="56" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a href="{{HOMEPAGE_URL}}/#home" title="home">Home</a></li>
                <li><a href="{{HOMEPAGE_URL}}/#about" title="about">About</a></li>
                <li><a href="{{HOMEPAGE_URL}}/#blog" title="blog">Blogs</a></li>
                <li><a href="{{HOMEPAGE_URL}}/#note" title="note">Notes</a></li>
                <!--<li><a class="smoothscroll" href="#note" title="notes">Notes</a></li>-->
                <!--<li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>-->
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->
    <div class="page-header page-header--single page-hero" style="background-image:url(https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
        <div class="row page-header__content narrow">
            <article class="col-full">
                <div class="page-header__info">
                </div>
                <h1 class="page-header__title">
                    <a href="#0" title="">
                        所有文章
                    </a>
                </h1>
            </article>
        </div>
    </div> <!-- end page-header -->
    <section id="note" class="s-blog target-section">
    <div class="row blog-content">
        <div class="col-full">
            <div class="blog-list block-1-2 block-tab-full">
                {%for article in articles%}
                <article class="col-block">
                            
                    <div class="blog-date">
                        <a href="#">{{article.date|strftime('%Y-%b-%d (%a)')}}</a>
                    </div>  
                    <img src="{{ article.top_image }}">
                    <h2 class="h01"><a href="{{HOMEPAGE_URL}}/{{article.url}}">{{article.title}}</a></h2>
                    <p>
                        {{article.summary}}
                    </p>
                    <div class="blog-cat">
                            {% for tag in article.tags %}
                            <a href="blog.html">{{tag}}</a>
                            {% endfor %}
                    </div>
                </article>
                {%endfor%}
            </div> <!-- end blog-list -->
        </div> <!-- end col-full -->
    </div>
    </section>
    
    {% endblock %}
</body>